@page "/blogs"
@layout BlogFrontLayout
@inherits BlogFrontComponentBase

<ul>
    <li>
        <a href="https://www.bbc.co.uk/programmes/p00vfknq">
            <em>The Ribos Operation</em>
        </a>
    </li>
    <li>
        <a href="https://www.bbc.co.uk/programmes/p00vfdsb">
            <em>The Sun Makers</em>
        </a>
    </li>
    <li>
        <a href="https://www.bbc.co.uk/programmes/p00vhc26">
            <em>Nightmare of Eden</em>
        </a>
    </li>
</ul>

<MButton OnClick="() => _show = true">ddd</MButton>
<Write Show="_show"></Write>
<MButton OnClick="dddd"></MButton>

@code{
    private bool _show = false;

    [Inject]
    public NavigationManager? Navigation { get; set; }

    private void dddd()
    {
        Navigation.NavigateTo("/bloginfo");
    }
}