@page "/"
@namespace MASA.Framework.Admin.Blog.Pages
@using MASA.Framework.Admin.Blog.Global
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject GlobalConfig GlobalConfig;
@{
    Layout = "_Layout";
}

<component type="typeof(MASA.Framework.Admin.Blog.App)" param-GlobalConfig="@GlobalConfig" render-mode="ServerPrerendered" />

<body>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/TinyMCE.Blazor/tinymce-blazor.js"></script>
</body>