@page "/blog-admin/report"
@using MASA.Framework.Admin.Contracts.Blogs.BlogReport.ViewModel
@inherits ProCompontentBase

<PPageHeader Title="搜索" ShowFiltersByDefault OnSearch="() => FetchList()">
    <Filters Context="filter">
        <MRow Dense>
            <MCol Cols="12" Sm="6">
                <DefaultTextField Label="举报标题"
                                  @bind-Value="_options.Title"
                                  OnKeyDown="filter.onEnter"
                                  OnClearClick="filter.onSearch">
                </DefaultTextField>
            </MCol>
            <MCol Cols="12" Sm="6">
                <DefaultSelect Label="状态"
                               Items="Enum<ReasonTypes>.GetEnumObjectList<ReasonTypes>()"
                               ItemText="item => item.Name"
                               ItemValue="item => item.Value"
                               @bind-Value="_options.ReaosnType"
                               TItem="EnumObject<ReasonTypes>"
                               TValue="ReasonTypes?"
                               TItemValue="ReasonTypes"
                               OnSelectedItemUpdate="filter.onSearch"
                               OnClearClick="filter.onSearch">
                </DefaultSelect>
            </MCol>
            <MCol Cols="12" Sm="6">
                <DefaultDateTimePicker Label="举报开始时间"
                                       @bind-Value="_options.StartDate"
                                       OnOk="filter.onSearch"
                                       OnClearClick="filter.onSearch">
                </DefaultDateTimePicker>
            </MCol>
            <MCol Cols="12" Sm="6">
                <DefaultDateTimePicker Label="举报结束时间"
                                       @bind-Value="_options.EndDate"
                                       OnOk="filter.onSearch"
                                       OnClearClick="filter.onSearch">
                </DefaultDateTimePicker>
            </MCol>
        </MRow>
    </Filters>
</PPageHeader>

<DefaultDataTable Headers="_headers"
                  Items="_tableData"
                  Loading="_loading"
                  OnOptionsUpdate="HandleOnOptionsUpdate"
                  Page="_options.PageIndex"
                  ItemsPerPage="_options.PageSize"
                  ServerItemsLength="_totalCount"
                  TItem="BlogReportListViewModel">
    <ItemColContent>
        @if (context.Header.Value == "actions")
        {
            <MinorAction Label="处理" OnClick="() => OpenHandleModal(context.Item)"></MinorAction>
        }
        else if (context.Header.Value == nameof(BlogReportListViewModel.Title))
        {
            if (string.IsNullOrWhiteSpace(context.Item.Connect))
            {
                @context.Item.Title
            }
            else
            {
                <a href="@context.Item.Connect" target="_blank">@context.Item.Title</a>
            }
        }
        else
        {
            <GenericColumnRender Value="@context.Value" ChippedEnum></GenericColumnRender>
        }
    </ItemColContent>
</DefaultDataTable>

<MDialog @bind-Value="_handleModalVisible">
    <MCard>
        <MCardTitle>处理举报 @CurrentModel?.Title</MCardTitle>
        <MCardText>
            <p>忽略：忽略此举报</p>
            <p>下架：处理相同文章的所有举报并下架该文章</p>
        </MCardText>
        <MCardActions>
            <MSpacer></MSpacer>
            <MinorAction Label="取消" Color="" OnClick="() => _handleModalVisible = false"></MinorAction>
            <MinorAction Label="忽略" Color="warning" OnClick="() => HandleIgnore(CurrentModel.Id)"></MinorAction>
            <MinorAction Label="下架" OnClick="() => HandleAgree(CurrentModel.BlogInfoId)"></MinorAction>
        </MCardActions>
    </MCard>
</MDialog>